* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --component-gap: 10px;
  --component-border-radius: 5px;
  --component-padding: 0.5em;
  --hydra-border: #ff9433;
  --hydra-bg: #fbe8d6;
  --sackson-bg: #fbd3d6;
  --sackson-border: #ff5661;
  --quantum-bg: #d0e8ec;
  --quantum-border: #58e0f8;
  --america-bg: #d2e4f4;
  --america-border: #1c7ed6;
  --fusion-bg: #d7eddb;
  --fusion-border: #36b24d;
  --phoneix-bg: #e2daf8;
  --phoneix-border: #7746f1;
  --zeta-bg: #fbf1d7;
  --zeta-border: #ffc936;
}

body {
  font-family: 'Recursive';
  font-size: 18px;
}

.game-page {
  width: 100vw;
  height: 100vh;
  padding: 1em;
  display: flex;
  column-gap: var(--component-gap);
  overflow: hidden;
}

.game-page>section {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: var(--component-gap);
}

.game-page>section:nth-child(2) {
  flex: 1;
}

/* BOARD-------------------------------------------- */
.board {
  display: flex;
  border: 2px solid black;
  border-radius: var(--component-border-radius);
  justify-content: space-between;
}

.board-tiles {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0.6em;
  padding: var(--component-padding);
  width: 1000px;
  justify-items: center;
}

.tile-item {
  width: 65px;
  aspect-ratio: 1/1;
  align-self: stretch;
  font-size: 1.5rem;
  background-color: rgb(232, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05rem;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 2px;
}

.letter {
  font-size: 1rem;
  margin-top: 0.3rem;
}

.branding {
  position: relative;
  width: 120px;
}

.branding h2 {
  font-weight: 200;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.branding.left {
  border-right: 2px solid black;
}

.branding.right {
  border-left: 2px solid black;
}

.branding.left h2 {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.branding.right h2 {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* COMMON STYLES -------------------------------------------- */
.component-heading {
  text-align: center;
}

/* PLAYER RESOURCES -------------------------------------------- */

.player-resources {
  border-radius: var(--component-border-radius);
  padding: var(--component-padding);
  display: flex;
  column-gap: var(--component-gap);
  border: 2px solid black;
  height: 100%;
}

.player-resources>section>h3 {
  margin-bottom: 1em;
}

.player-money {
  width: 15%;
  text-align: center;
}

.player-money p {
  margin-top: 40%;
  font-size: 2rem;
}

.player-tiles {
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 0 2em;
}

.player-tiles>div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5em;
  width: 220px;
}

.player-tiles .tile-item {
  background-color: lightgray;
  cursor: pointer;
}

.player-stocks {
  flex: 0.8;
  margin: 0 auto;
}

.player-stocks>div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  justify-content: center;
}

.stock {
  padding: 0.5em 1em;
  border-radius: var(--component-border-radius);
  text-align: center;
  width: 120px;
}

#hydra {
  border: 2px solid var(--hydra-border);
  background-color: var(--hydra-bg);
}

#sackson {
  border: 2px solid var(--sackson-border);
  background-color: var(--sackson-bg);
}

#quantum {
  border: 2px solid var(--quantum-border);
  background-color: var(--quantum-bg);
}

#america {
  border: 2px solid var(--america-border);
  background-color: var(--america-bg);
}

#zeta {
  border: 2px solid var(--zeta-border);
  background-color: var(--zeta-bg);
}

#phoneix {
  border: 2px solid var(--phoneix-border);
  background-color: var(--phoneix-bg);
}

#fusion {
  border: 2px solid var(--fusion-border);
  background-color: var(--fusion-bg);
}

/* PLAYERS ORDER -------------------------------------------- */

.players {
  border: 2px solid black;
  padding: var(--component-padding);
  border-radius: var(--component-border-radius);
  width: 200px;
}

.players-list {
  display: flex;
  flex-direction: column;
  gap: var(--component-gap);
}

.player-item {
  display: flex;
  align-items: center;
  column-gap: var(--component-gap);
}

.highlight {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 50%;
}

.player-item.active .highlight {
  background-color: lightgray;
}

.player-item.active {
  font-weight: bold;
}

.player-activities {
  display: flex;
  height: 50%;
  column-gap: var(--component-gap);
  position: relative;
}

.player-activities>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.player-activities header {
  display: flex;
  justify-content: end;
  column-gap: var(--component-gap);
  padding: var(--component-padding);
  padding-top: 0;
  padding-right: 0;
  /* height: 15%; */
}

.player-activities header button {
  padding: 0.5em 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.activity-logs {
  border: 2px solid black;
  height: 100%;
  border-radius: var(--component-border-radius);
  padding: var(--component-padding)
}

/* STOCK MARKET ------------------------- */
.stock-market {
  border: 2px solid black;
  border-radius: var(--component-border-radius);
  padding: var(--component-padding);
  height: 50%;
}

.corporations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.corporation-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corporation-col:first-child {
  border-right: 2px solid black;
}

.corporation {
  display: flex;
  column-gap: 1em;
  align-items: center;
  margin: 1em 0;
  width: 180px;
}

.corporation-img {
  width: 60px;
  height: 60px;
  border-radius: var(--component-border-radius);
}

.corporation-info {
  flex: 1;
}

.corporation-info>p {
  padding: 0.2em 0;
  text-align: center;
}

.corporation-info>p:first-child {
  border-bottom: 1px solid black;
}

/* INFO CARD --------------------- */

.info-card {
  width: 350px;
  height: 400px;
  position: absolute;
  background-image: url('/images/infocard.jpeg');
  background-size: contain;
  transform: translateX(0px);
  transition: 0.3s linear;
  top: 30px;
  background-repeat: no-repeat;
}

.info-card.hide {
  transform: translateX(1000px);
}