* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --component-gap: 10px;
  --component-border-radius: 5px;
  --component-padding: 0.5em;
  --hydra-border: #ff9433;
  --hydra-bg: #fbe8d6;
  --sackson-bg: #fbd3d6;
  --sackson-border: #ff5661;
  --quantum-bg: #d0e8ec;
  --quantum-border: #58e0f8;
}

body {
  font-family: 'Recursive';
  font-size: 18px;
}

.page {
  width: 100vw;
  height: 100vh;
  padding: 1em;
  display: flex;
}

.page>section {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}

/* BOARD-------------------------------------------- */
.board {
  display: flex;
  border: 2px solid black;
  border-radius: var(--component-border-radius);
  max-width: 1100px;
}

.board-tiles {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0.5em;
  padding: var(--component-padding);
  flex: 1;
}

.tile-item {
  width: 65px;
  aspect-ratio: 1/1;
  align-self: stretch;
  font-size: 1.5rem;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05rem;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 2px;
}

.letter {
  font-size: 1rem;
  margin-top: 0.3rem;
}

.branding {
  position: relative;
  width: 100px;
}

.branding h2 {
  font-weight: 200;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.branding.left {
  border-right: 2px solid black;
}

.branding.right {
  border-left: 2px solid black;
}

.branding.left h2 {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.branding.right h2 {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* PLAYER RESOURCES -------------------------------------------- */

.player-resources {
  margin-top: var(--component-gap);
  border-radius: var(--component-border-radius);
  padding: var(--component-padding);
  display: flex;
  column-gap: var(--component-gap);
  border: 2px solid black;
  height: 100%;
  max-width: 1100px;
}

.player-resources>section>h3 {
  text-align: center;
  margin-bottom: 1em;
}

.player-money {
  width: 15%;
  text-align: center;
}

.player-tiles {
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 0 1.2em;
}

.player-tiles>div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5em;
  width: 220px;
}

.player-stocks {
  flex: 1;
}

.player-stocks>div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  justify-content: center;
}

.stock {
  padding: 0.5em 1em;
  border-radius: var(--component-border-radius);
  text-align: center;
  width: 120px;
}

.hydra {
  border: 2px solid var(--hydra-border);
  background-color: var(--hydra-bg);
}

.sackson {
  border: 2px solid var(--sackson-border);
  background-color: var(--sackson-bg);
}

.quantum {
  border: 2px solid var(--quantum-border);
  background-color: var(--quantum-bg);
}