:root {
  --component-gap: 10px;
  --component-border-radius: 5px;
  --component-padding: 0.5em;
  --hydra-border: #ff9433;
  --hydra-bg: #fae2cc;
  --sackson-border: #ff5661;
  --sackson-bg: #f8d7d9;
  --quantum-border: #58e0f8;
  --quantum-bg: #c3e9f0;
  --america-border: #1c7ed6;
  --america-bg: #b8d8f5;
  --fusion-border: #36b24d;
  --fusion-bg: #bcedc5;
  --phoenix-border: #7746f1;
  --phoenix-bg: #d7ccf7;
  --zeta-border: #ffc936;
  --zeta-bg: #f6eaca;
  --tile-size: 65px;
  --theme-color: #D89216;
  --component-body: rgba(0, 0, 0, 0.5);
  --component-shadow: 0.2px 0.2px 5px 0.2px rgb(196, 194, 194);
}

.game-page {
  width: 100vw;
  height: 100vh;
  padding: 1em;
  display: flex;
  column-gap: var(--component-gap);
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(61, 61, 61), rgb(79, 78, 78), rgb(61, 61, 61));
  color: rgb(219, 217, 217);
}

.game-page>section {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: var(--component-gap);
}

.game-page>section:nth-child(2) {
  flex: 1;
}

/* BOARD-------------------------------------------- */
.board {
  display: flex;
  border: 2px solid black;
  border-radius: var(--component-border-radius);
  justify-content: space-between;
  background-color: black;
  box-shadow: 0.1px 0.1px 5px 0.1px rgb(182, 181, 181);
}

.board-tiles {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(12, var(--tile-size));
  grid-template-rows: repeat(9, var(--tile-size));
  gap: 0.5em;
  padding: 0.5em;
  width: 900px;
  justify-items: center;
  justify-content: center;
}

.tile-item {
  width: 65px;
  aspect-ratio: 1/1;
  align-self: stretch;
  font-size: 1.5rem;
  background-color: rgb(232, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05rem;
  border-radius: 2px;

  color: rgb(172, 168, 168);
  box-shadow: 1px 1px 2px 1px rgb(182, 181, 181);
  background-color: rgb(31, 31, 31);
}

.placed {
  background-color: gray;
  color: black;
  box-shadow: 1px 1px 5px 1px rgb(50, 50, 50);
}

.letter {
  font-size: 1.2rem;
  margin-top: 0.3rem;
}

.branding {
  position: relative;
  width: 90px;
}

.branding h2 {
  font-weight: 200;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--theme-color);
}

.branding.left {
  border-right: 4px solid var(--theme-color);
}

.branding.right {
  border-left: 4px solid var(--theme-color);
}

.branding.left h2 {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.branding.right h2 {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* COMMON STYLES -------------------------------------------- */
.component-heading {
  text-align: center;
  margin-bottom: 0.5em;
  padding: 0.1em;
  background-image: linear-gradient(to top, rgb(61, 61, 61), rgb(79, 78, 78));
  color: var(--theme-color);
  padding: 0.3em 1em;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(255, 255, 255, 0.2);
}

/* CORPORATIONS */
.hydra {
  background-image: url('/images/corps/hydra.jpg');
  background-size: cover;
}

.sackson {
  background-image: url('/images/corps/sackson.jpg');
  background-size: cover;
}

.quantum {
  background-image: url('/images/corps/quantum.jpg');
  background-size: cover;
}

.america {
  background-image: url('/images/corps/america.jpg');
  background-size: cover;
}

.zeta {
  background-image: url('/images/corps/zeta.jpg');
  background-size: cover;
}

.phoenix {
  background-image: url('/images/corps/phoenix.jpg');
  background-size: cover;
}

.fusion {
  background-image: url('/images/corps/fusion.jpg');
  background-size: cover;
}

/* PLAYER RESOURCES -------------------------------------------- */

.player-resources {
  border-radius: var(--component-border-radius);
  padding: var(--component-padding);
  display: flex;
  flex: 1;

  background-color: var(--component-body);
  box-shadow: var(--component-shadow);
}

.player-resources>section {
  padding: 0 var(--component-padding);
}

.player-money {
  width: 15%;
  text-align: center;
  padding-left: 0 !important;
}

.player-money p {
  margin-top: 40%;
  font-size: 2rem;
}

.player-tiles {
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  flex: 0.5;
}

.component-tiles {
  display: grid;
  grid-template-columns: repeat(3, var(--tile-size));
  grid-template-rows: repeat(2, var(--tile-size));
  gap: 0.8em;
  margin: 0 auto;
  width: fit-content;
}

.player-tiles .tile-item {
  background-color: gray;
  color: black;
  box-shadow: 1px 1px 2px 1px rgb(157, 156, 156);
}

.player-stocks {
  flex: 1;
  padding-right: 0 !important;
}

.player-stocks>div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  justify-content: center;
}

.stock {
  padding: 0.5em 1em;
  border-radius: var(--component-border-radius);
  text-align: center;
  width: 120px;
  color: black;
}

.hydra-stock {
  border: 2px solid var(--hydra-border);
  background-color: var(--hydra-bg);
}

.sackson-stock {
  border: 2px solid var(--sackson-border);
  background-color: var(--sackson-bg);
}

.quantum-stock {
  border: 2px solid var(--quantum-border);
  background-color: var(--quantum-bg);
}

.america-stock {
  border: 2px solid var(--america-border);
  background-color: var(--america-bg);
}

.zeta-stock {
  border: 2px solid var(--zeta-border);
  background-color: var(--zeta-bg);
}

.phoenix-stock {
  border: 2px solid var(--phoenix-border);
  background-color: var(--phoenix-bg);
}

.fusion-stock {
  border: 2px solid var(--fusion-border);
  background-color: var(--fusion-bg);
}

/* PLAYERS ORDER -------------------------------------------- */
.player-activities {
  display: flex;
  height: 450px;
  column-gap: var(--component-gap);
  position: relative;
}

.player-activities>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex: 1;

  background-color: var(--component-body);
  box-shadow: var(--component-shadow);
}

.player-activities header {
  display: flex;
  justify-content: end;
  column-gap: var(--component-gap);
  padding: var(--component-padding);
  padding-top: 0;
  padding-right: 0;
}

.player-activities header button {
  padding: 0.5em 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: whitesmoke;
  font-weight: bolder;
}

.players {
  border: 2px solid black;
  padding: var(--component-padding);
  border-radius: var(--component-border-radius);
  width: auto;
  height: 100%;
}

.players-list {
  display: flex;
  flex-direction: column;
  gap: var(--component-gap);
  margin-top: 1em;
}

.player-item {
  display: flex;
  align-items: center;
  column-gap: var(--component-gap);
  padding: 0.5em;
}

.player-item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.player-item-marker {
  width: 25px;
  height: 25px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
}

.player-item.active .player-item-marker {
  background-color: lightgray;
}

.player-item.active {
  font-weight: bold;
  background-image: linear-gradient(to bottom, rgb(64, 63, 63), rgb(103, 102, 102));
}

.activity-logs {
  border: 2px solid black;
  border-radius: var(--component-border-radius);
  padding: var(--component-padding);
  overflow: hidden;
  height: 100%;
  width: 60%;

  background-color: var(--component-body);
  box-shadow: var(--component-shadow);
}

.logs {
  margin: 0.5em 0;
  padding: 0.5em 0;
  height: 90%;
  overflow-y: auto;
}

.logs::-webkit-scrollbar {
  background: gray;
  width: 5px;
}

.logs::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.logs div {
  padding: 0.3em;
}

.highlight-element {
  z-index: 10;
}

/* STOCK MARKET ------------------------- */
.stock-market-component {
  border: 2px solid black;
  position: relative;
  border-radius: var(--component-border-radius);
  padding: var(--component-padding);
  flex: 1;

  background-color: var(--component-body);
  box-shadow: var(--component-shadow);
}

.corporations {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.corporation-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corporation {
  display: flex;
  column-gap: 1em;
  align-items: center;
  margin: 1em 0;
  width: 300px;
}

.market-price {
  width: 45px;
  text-align: right;
}

.corporation-img {
  width: 65px;
  height: 65px;
  border-radius: var(--component-border-radius);
}

.hover:hover {
  box-shadow: 1px 1px 3px 1px dimgrey;
  cursor: pointer;
}

.corporation-info {
  flex: 1;
}

.corporation-info>p {
  padding: 0.2em 0;
  text-align: center;
}

.corporation-info>p:first-child {
  border-bottom: 1px solid white;
}

.disabled-corporation {
  filter: grayscale(100%) blur(1px);
  pointer-events: none;
}

.highlight-corp {
  box-shadow: 1px 1px 5px 1px rgb(130, 130, 130);
}

.highlight-info>p {
  font-weight: bold;
}

/* INFO CARD --------------------- */

.info-card {
  width: fit-content;
  height: fit-content;
  position: absolute;
  background-color: rgb(27, 27, 27);
  box-shadow: var(--component-shadow);
  z-index: 3;
  background-size: contain;
  transform: translateX(-16.8em);
  transition: 0.3s linear;
  top: 30px;
  background-repeat: no-repeat;
  font-family: RECURSIVE;
}

.info-card-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  color: var(--heading-color);
  font-size: 1.6em;
}

.info-card table {
  color: white;
  border: 3px solid white;
  border-collapse: collapse;
  border-radius: 10% !important;
}

.info-card tbody {
  font-size: 1em;
}

.corporation-group {
  color: #000;
}

.info-card td,
.info-card th {
  text-align: center;
  border: 1px solid white;
  padding: var(--component-padding);
}

.info-card td {
  font-family: monospace;
}

.money {
  text-align: right !important;
}

.info-card.hide {
  transform: translateX(1000px);
}

.button-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.focus-tile {
  animation-name: blink;
  animation-duration: 0.4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  --animation-color: rgb(166, 164, 164);
  cursor: pointer;
}

.dead-tile {
  background: repeating-linear-gradient(-45deg, #666666, #666666 10%, rgb(31, 31, 31) 15% 25%);
  box-shadow: inset 0px 0px 7px 3px #999999;
  ;
}

.selected-tile {
  --animation-color: hsl(0deg 0% 35%);
}

@keyframes blink {
  0% {
    background-color: #666666;
    color: black;
  }

  100% {
    background-color: var(--animation-color);
    color: black;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: 40px;
  width: 40px;
  margin: 0;
}

.stock-value {
  height: 40px;
  width: 40px;
  font-size: 1em;
  color: transparent;
  text-shadow: 0 0 0 #808080;
  visibility: hidden;
  outline: none;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.stock-message {
  text-align: center;
  height: 1em;
  margin: 0.5em 0;
  color: whitesmoke;
}

/* TRANSACTION PANEL */
.transaction-panel {
  position: absolute;
  top: 40px;
  right: 5px;
  width: 350px;
  padding: 1em;
  background-color: #292929;
  box-shadow: 1px 1px 5px 1px white;
  border-radius: var(--component-border-radius);
}

.transaction-panel>p {
  text-align: center;
  margin: 1.5em 0;
}

.transaction-panel>form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5em;
  margin: 1em 0;
}

.panel-section>label {
  display: inline-block;
  text-align: right;
  width: 100px;
}

.panel-section {
  position: relative;
}

.panel-section>input {
  visibility: visible;
  margin: 0 0.5em;
}

.transaction-panel .stock-message {
  height: 1.8em;
}

.info-box {
  position: absolute;
  background-color: rgba(23, 23, 23, 0.95);
  border: 1px solid white;
  padding: 1em;
  border-radius: 5px;
  top: -80px;
  right: 10px;
  font-size: 0.8rem;
  width: 180px;
  display: none;
}

.icon {
  cursor: pointer;
}

#sell-info-icon:hover+#sell-info,
#trade-info-icon:hover+#trade-info {
  display: block;
}

.game-over-panel {
  width: 600px;
  height: 400px;
  background-color: rgba(23, 23, 23, 0.95);
  padding: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 5px 10px 18px rgb(69, 69, 69);
  animation: animateZoom 0.3s ease-in;
  transition: 0.3s ease-in;
}

.game-over-panel>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.game-over-panel * {
  color: var(--theme-color);
}

.game-over-panel h1 {
  font-size: 5.5rem;
}

.game-over-panel h2 {
  font-size: 3.5rem;
  margin: 0.2em 0;
  color: whitesmoke;
}

.animate-zoom {
  animation: animateZoom 0.8s
}

@keyframes animateZoom {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.hide {
  transform: translate(-50%, -50%) scale(0);
}

.end-game-stats {
  height: 90vh;
  background-color: rgba(23, 23, 23, 0.95);
  padding: 1em 2em;
  position: absolute;
  top: 5%;
  left: 50%;
  top: 50%;
  transform: scale(0) translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 5px 10px 18px rgb(69, 69, 69);
  transition: 0.3s ease-in;
}

.end-game-stats * {
  color: white;
}

.end-game-stats>h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--theme-color);
}

.stats-enter {
  transform: scale(1) translate(-50%, -50%);
}

.player-money-table {
  border-collapse: collapse;
  color: white;
  text-align: center;
  width: 1254px;
  background-image: linear-gradient(rgb(28, 27, 27), rgb(57, 57, 57));
  margin: 2em auto;
  border: 2px solid whitesmoke;
}

.player-money-table tr {
  border-bottom: 1px solid gray;
}

.player-money-table tr:first-child td {
  cursor: pointer;
}

.player-money-table th,
td {
  padding: 10px;
}

/* corporation cards ---------------------------- */
.corporation-cards {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 1em;
  margin: 1em auto;
  width: 1254px;
}

.corporation-card {
  width: 300px;
  padding: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent !important;
}

.corporation-card * {
  font-size: 0.8rem;
}

.corporation-card h2 {
  font-size: 1.2rem;
}

.corporation-card-img {
  width: 150px;
  height: 150px;
}

.corporation-card-img img {
  width: 100%;
}

.bonuses {
  border-collapse: collapse;
  color: white;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(rgb(28, 27, 27), rgb(57, 57, 57));
  margin-top: 1em;
}

.bonuses tr {
  border-bottom: 1px solid gray;
}

.bonuses thead,
.player-money-table th {
  background-color: grey;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.bonuses th,
td {
  padding: 0.5em;
}

.highlight-player {
  background-color: #1c7ed6;
}

/* Notifier ------------------------------ */
.notification-panel {
  width: 800px;
  background: radial-gradient(ellipse at top, rgba(0, 0, 0, 0.5), transparent), radial-gradient(ellipse at bottom, #D89216, transparent);
  padding: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 5px 1px black;
}

.notification-panel * {
  color: white;
}

.notification-panel>h1 {
  font-weight: 400;
  text-align: center;
}