* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Recursive', 'Arial';
  font-size: 18px;
  overflow: hidden;
}

.page {
  background-image: linear-gradient(rgba(16, 16, 16, 0.3), rgba(0, 0, 0, 0.4)),
    url("/images/acquire-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

/* PAGE HEADERS */
.header {
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  color: #F8F9FA;
}

.header h1 {
  font-size: 60px;
  font-weight: 200;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
}

.navigation a {
  text-decoration: none;
  font-size: 20px;
  color: #F8F9FA;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

/* FORM CSS ---------------------- */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.form input,
.form select {
  height: 40px;
  width: 280px;
  font-size: 16px;
  text-align: center;
  outline: none;
}

.form h2 {
  text-align: center;
  margin: 20px;
  font-size: 32px;
  font-weight: 400;
  color: white;
}

.form-footer {
  color: white;
}

.form-footer>a {
  color: lightgray;
}

.form .message {
  color: red;
}

/* BUTTONS */

.btn {
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: #E9ECEF;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 0px black;
  text-align: center;
  cursor: pointer;
}

.theme-btn {
  background-color: #6C757D;
  color: white;
}

.theme-btn:disabled {
  cursor: not-allowed;
  background-color: #abb1b6;
}

/* not-found-page ------------------ */
.not-found-page {
  background-image: linear-gradient(rgba(16, 16, 16, 0.3), rgba(0, 0, 0, 0.4)),
    url("/images/acquire2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: white;
}

.not-found-page a {
  text-decoration: none;
  color: #4e83b9;
  font-weight: bolder;
}

.not-found img {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
}