head
  title Acquire
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Recursive:regular,bold,bolditalic')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css' integrity='sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='/css/index.css')
  link(rel='stylesheet' href='/css/game.css')
  script(src='/js/html.js')
  script(src='/js/renderers/highlight.js')
  script(src='/js/renderers/playerResources.js')
  script(src='/js/renderers/playersList.js')
  script(src='/js/renderers/stockMarket.js')
  script(src='/js/renderers/board.js')
  script(src='/js/renderers/endGamePopups.js')
  script(src='/js/renderer.js')
  script(src='/js/api.js')
  script(src='/js/poller.js')
  script(src='/js/state.js')
  script(src='/js/store.js')
  script(src='/js/game.js')
body
  div(class="page-wrapper")
    div(class="game-page")
      section
        div(class="board")
          div(class="branding left")
            h2 ACQUIRE
          div(class="board-tiles")
          div(class="branding right")
            h2 ACQUIRE
        div(class="player-resources" id="player-resources")
      section
        div(class="player-activities")
          div(class="activity-logs")
            h3(class="component-heading") Activity Logs
            div(class="logs")
          div
            div(class="players")
              h3(class="component-heading") Players
              div(class="players-list" id="players-list")
        div(class="stock-market-component")
          div(id="info-card-btn" class="icon info-card-btn fa-solid fa-circle-info")
              div(class="info-card hide" id="info-card")
                table
                  thead
                    tr
                      th(class="sackson-stock corporation-group") SACKSON
                      th(class="hydra-stock corporation-group") HYDRA
                      th(class="phoenix-stock corporation-group") PHOENIX
                      th(rowspan='3') STOCK PRICE
                      th(colspan='2' rowspan='2') STOCKHOLDERS BONUS
                    tr
                      th(class="zeta-stock corporation-group") ZETA
                      th(class="fusion-stock corporation-group") FUSION
                      th(class="quantum-stock corporation-group") QUANTUM
                    tr
                      th
                      th(class="america-stock corporation-group") AMERICA
                      th
                      th MAJORITY
                      th MINORITY
                  tbody
                    tr
                      td 2
                      td -
                      td -
                      td(class="money") 200
                      td(class="money") 2000
                      td(class="money") 1000
                    tr
                      td 3
                      td 2
                      td -
                      td(class="money") 300
                      td(class="money") 3000
                      td(class="money") 1500
                    tr
                      td 4
                      td 3
                      td 2
                      td(class="money") 400
                      td(class="money") 4000
                      td(class="money") 2000
                    tr
                      td 5
                      td 4
                      td 3
                      td(class="money") 500
                      td(class="money") 5000
                      td(class="money") 2500
                    tr
                      td 6 - 10
                      td 5
                      td 4
                      td(class="money") 600
                      td(class="money") 6000
                      td(class="money") 3000
                    tr
                      td 11 - 20
                      td 6 - 10
                      td 5
                      td(class="money") 700
                      td(class="money") 7000
                      td(class="money") 3500
                    tr
                      td 21 - 30
                      td 11 - 20
                      td 6 - 10
                      td(class="money") 800
                      td(class="money") 8000
                      td(class="money") 4000
                    tr
                      td 31 - 40
                      td 21 - 30
                      td 11 - 20
                      td(class="money") 900
                      td(class="money") 9000
                      td(class="money") 4500
                    tr
                      td 41 &amp; over
                      td 31 - 40
                      td 21 - 30
                      td(class="money") 1000
                      td(class="money") 10000
                      td(class="money") 5000
                    tr
                      td  - 
                      td 41 &amp; over
                      td 31 - 40
                      td(class="money") 1100
                      td(class="money") 11000
                      td(class="money") 5500
                    tr
                      td  - 
                      td  - 
                      td 41 &amp; over
                      td(class="money") 1200
                      td(class="money") 12000
                      td(class="money") 6000
                    tr
                      td(colspan='6') A CORPORATION OF 11 OR MORE TILES IS SAFE.
          form(class="stock-market" id="stock-market")