html
  head
    title Acquire
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Recursive:regular,bold,bolditalic")
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/landingPage.css")
  body 
    div(class="page")
      header(class="landing-page-header") 
        div(class="logo") Acquire
        div(class="adv") plan, build and own the next super city
        div(class="username") Welcome, #{playerName} !
      div(class="landing-options")
        a(href="/host" class="btn") Create game
        a(href="/guide-page.html" class="btn") How to play 